--- 
import Buscador from "../components/Buscador.astro"
import Layout from "../layouts/Layout.astro"

const response = await fetch('http://localhost:3000/api/workers');
const workers = await response.json();

---

<Layout title="RedWork - Página de Resultados">
  <!-- Barra de navegación -->
  <header>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
  </header>

  <Buscador />

  <!-- Resultados -->
  <section class="results">
    {workers.map((worker : {id: string, fullName: string, job: string, photo: string}) => (
      <a href={`/perfil?${worker.id}`} class="result-item">
        <div class="result-item">
          <div class="available-badge">Disponible</div>
          <div class="result-content">
            <div class="text-content">
              <h3>{worker.fullName}</h3>
              <p>{worker.job}</p>
              <div class="rating">
                <span>⭐ 4.5 / 5.0</span>
              </div>
              <button class="contact-btn"><i class="fab fa-whatsapp" ></i> Contactar</button>
            </div>
            <div class="image-content">
              <img src={worker.photo} alt={`Foto de ${worker.fullName}`}>
            </div>
          </div>
        </div>
      </a>
    ))}
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" defer></script>
  <script src="script.js" defer></script>
</Layout>
